.container {
    display: flex;
    gap: 10px;
    width: 100%;
}

.info_section {
    width: 35%;
}

.info_section_img {
    width: 100%;
}

.info_section_info {
    padding: 10px;
}

.cards_container {
    display: flex;
    width: 65%;
    flex-direction: column;
    gap: 30px;
}
