.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 300px; 
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
    overflow: hidden;
    gap: 15px;
}

.container:hover {
    transition: all .2s ease;
    scale: 1.05;
}


.container h1 {
    font-size: 28px;
    line-height: 25px;
    
}

.container img {
    height: 200px;
    width: 300px
}